# Environments
.env
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Databases
chroma_db/
*.db
*.sqlite
*.sqlite3

# Data
data/raw/
data/

# IDE
.vscode/
.idea/
.DS_Store

# Frontend
frontend_react/node_modules/
frontend_react/dist/
node_modules/
